/* CSS declarations go here */

#usersList{
    float: left;
    width: 250px;
    display: inline-block;
}

#usersList p{
    padding-left: 10px;
}

#messages{
    margin-left: 250px;
    height: 500px;
    overflow-y: auto;
    word-wrap: break-word;
}

#newMessage{
    width: 75%;
    margin-left: 250px;
}

#footer{
    clear: both;
}
